In [ ]:
#use case
#duplication remove

In [2]:
#union
#set1.union(set1)
#will add both set (will remove the duplicates)
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [4]:
#intesection
#will given the comm element
a={1,2,34,5,6}
b={1,6,4,8,9,}
a.intersection(b)

{1, 6}

In [5]:
#differnce
#in set1 and that are not present in set2
a.difference(b)

{2, 5, 34}

In [6]:
#symetric differnce
#those that are not comm in set
a.symmetric_difference(b)

{2, 4, 5, 8, 9, 34}

In [ ]:
a=frozenset()
b=set()
#set=add element , remove element
#frozenset set not allow addition or remove of element
#but allow the Arithmeti operation like union,ints.,symetric differnce between two set

In [9]:
#loops
#executing a block of code multiple time
#for and while

# for loop
#for variable name in iterabledatatype
l1=[1,2,3,]
for a in l1:
  print(a)

1
2
3

In [11]:
print(2*l1)

[1, 2, 3, 1, 2, 3]

In [14]:
b=int(input())
for a in l1:
  print(b*a)

4
4
8
12

In [17]:
#range function
#provides seqence of numbers
for i in range(11):
   print(i)

0
1
2
3
4
5
6
7
8
9
10

In [23]:

number=int(input())
for i in range(1,11):
  print(f'{number}*{i}={number*i}')

5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [24]:
#tuple,dictionary
t1=(1,2,3,4)
for a in t1:
  print(5*a)

5
10
15
20

In [25]:
d1={'class':1,'city':'jaipur','name':'bhanu'}
for a in d1:
  print(a)

class
city
name

In [26]:
for a in d1.values():
  print(a)

1
jaipur
bhanu

In [27]:
for a in d1.items():
  print(a)

('class', 1)
('city', 'jaipur')
('name', 'bhanu')

In [29]:
city='jaipur'
for a in city:
  print(a)

j
a
i
p
u
r

In [31]:
#n=1234
#for a in n:
  # print(a)

TypeError: 'int' object is not iterable